<!DOCTYPE html>
<head><link {{link}}></head>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>See what’s happening in your loop</h1>
                    <div class = "front12">
                    <img src="images/woop.jpg" width="400" height="300">
                </div>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
					  </div>
					  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
					</form>					
				</div><!-- /col-lg-6 -->        
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Why is Loop amazing ?</h1>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="images/World.jpg" width="180" alt="">
				<h4>Gives an insite into your area</h4>
				
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="images/new.jpg" width="240" alt="">
				<h4> Allows you to see news on favourite topics</h4>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="images/face.jpg" width="180" alt="">
				<h4>Provides long lasting entertainment</h4>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Loop is for Everyone.</h1>
				<h3>Contact us here if you have any problems</h3>
                <form action="mailto:loop1234@gmail.com" method="post" enctype="text/plain">
                Name:<br>
                <input type="text" name="name"><br>
                Comment:<br>
                <input type="text" name="comment" size="50"><br><br>
                <input type="submit" value="Send">
                <input type="reset" value="Reset">
                </form>
			</div>
		</div><!-- /row -->
	</div><! --/container -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Our Awesome Team.<br/>Design Lovers.</h1>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img class="img-circle" src="images/spike.jpg" width="140" alt="">
				<h4>Michael Naughton</h4>
				<p> <a href="https://www.linkedin.com/in/michael-naughton1/"><i class="glyphicon glyphicon-send"></i></a> </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="images/eoin.jpg" width="140" alt="">
				<h4>Eoin Rockall</h4>
				<p> <a href="https://www.linkedin.com/in/eoin-rockall/"><i class="glyphicon glyphicon-send"></i></a> </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="images/louis.jpg" width="140" alt="">
				<h4>Louis Ambrose</h4>
				<p> <a href="https://www.linkedin.com/in/louis-ambrose-81576b13b/"><i class="glyphicon glyphicon-send"></i></a> </p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->
                

