<!DOCTYPE html>
<head><link {{link}}></head>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="message1">
					  <b>Welcome to Loop</b>
                </div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h2>Why is Loop amazing ?</h2>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="images/unis.PNG" width="280" height="160" alt="">
				<h4>Gives an insight across the country</h4>
				
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="images/news.PNG" width="250" height="160"alt="">
				<h4> Allows you to see news on favourite topics</h4>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4" style = "padding-top: 5%">
				<img src="images/live.PNG" width="360" height="100" alt="">
				<h4>Provides long lasting entertainment</h4>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Loop is for Everyone.</h1>
				<h3>Contact us here if you have any problems</h3>
                <div class = "formE">
                <form action="mailto:loop1234@gmail.com" method="post" enctype="text/plain">
                Name:<br>
                <input  class = "sizebox" type="text" name="name "><br>
                Comment:<br>
                <input  class = "sizebox" type="text" name="comment "><br><br>
                <input type="submit" value="Send">
                <input type="reset" value="Reset">
                </form>
                 </div>
			</div>
		</div><!-- /row -->
	</div><! --/container -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Our Awesome Team</h1>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-3">
				<img class="img-circle" src="images/spike.jpg" width="140" alt="">
				<h4>Michael Naughton</h4>
				<p> <a href="https://www.linkedin.com/in/michael-naughton1/"><i class="glyphicon glyphicon-send"></i></a> </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-3">
				<img class="img-circle" src="images/eoin.jpg" width="140" alt="">
				<h4>Eoin Rockall</h4>
				<p> <a href="https://www.linkedin.com/in/eoin-rockall/"><i class="glyphicon glyphicon-send"></i></a> </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-3">
				<img class="img-circle" src="images/louis.jpg" width="155" alt="">
				<h4>Louis Ambrose</h4>
				<p> <a href="https://www.linkedin.com/in/louis-ambrose-81576b13b/"><i class="glyphicon glyphicon-send"></i></a> </p>
			</div><!--/col-lg-4 -->
            
			<div class="col-lg-3">
				<img class="img-circle" src="images/habib.jpg" width="135" alt="">
				<h4>Habib Sanusi</h4>
				<p> <a href="https://www.linkedin.com/in/habib-sanusi-65280513b/"><i class="glyphicon glyphicon-send"></i></a> </p>
			</div><!--/col-lg-4 -->

		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<p class="centered">Loop - 2018</p>
	</div><!-- /container -->
                

