<div class="row centered">
	<h2>Select Loop</h2>
</div>

<div class="row push50" id="loopMenu">
<div class="col-xs-12 col-lg-4 centered ">            
  <img src="images/lebron.jpg" class="img-circle" width="50%" height="40%">
</div>
<div class="col-xs-12 col-lg-4 centered">            
  <img src="images/trump.jpg" class="img-circle" width="50%" height="100%">
</div>
<div class="col-xs-12 col-lg-4 centered">            
  <img src="images/weather.jpg" class="img-circle" width="50%" height="40%">
</div>
</div>
