<div class="row centered">
    <h2>Select Loop</h2>
</div>

<div class="row push50" id="loopMenu">
<div class="col-xs-12 col-lg-4 centered">
    <a href="/chooseLoop/Arts"><img src="../images/arts.png" width="50%" height="100%"></a>
    <h4>Arts</h4>
    </div>
<div class="col-xs-12 col-lg-4 centered">            
    <a href="/chooseLoop/Business"><img src="../images/business.jpg" width="50%" height="100%"></a>
    <h4>Business</h4>
    </div>
<div class="col-xs-12 col-lg-4 centered"> 
    <a href="/chooseLoop/Engineering"><img src="../images/engineering.png" width="50%" height="100%"></img></a>
    <h4>Engineering</h4>
</div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-6 centered ">            
        <a href="/chooseLoop/Medicine"><img src="../images/medicine.png" width="50%" height="40%"></a>
        <h4>Medicine</h4>
    </div>
    <div class="col-xs-12 col-lg-6 centered">            
        <a href="/chooseLoop/Science"><img src="../images/science.png" width="50%" height="100%"></a>
        <h4>Science</h4>
    </div>
</div>

<div style="padding-top:50px"></div>