<section>
<div class="well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="form-control required" style="min-width: 100%" style="max-width: 120%" rows="3" id="inputPost" placeholder="Got something to say?" maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div>
                <div class="btn-group col-xs-6">
                    <div class="btn-group col-xs-6">
                    <select id="loopSelect" class="selectpicker btn btn-new" data-style="btn-new">
                      <optgroup class="dropMenu" label="Sports">
                        <option selected disabled hidden>Loops</option>
                        <option>Basketball</option>
                        <option>GAA</option>
                        <option>Soccer</option>
                      </optgroup>
                      <optgroup class="dropMenu" label="College">
                        <option>Arts</option>
                        <option>Engineering</option>
                        <option>Medicine</option>
                      </optgroup>
                    </select>
                    </div>
                    <div class="btn-group col-xs-6">
                    <select class="selectpicker btn btn-new" data-style="btn-new">
                      <optgroup class="dropMenu" label="Colleges">
                        <option selected disabled hidden>Local</option>
                        <option>DCU</option>
                        <option>NUIG</option>
                        <option>UCD</option>
                      </optgroup>
                      <optgroup class="dropMenu" label="College">
                        <option>Cork</option>
                        <option>Dublin</option>
                        <option>Galway</option>
                      </optgroup>
                    </select>
                    </div>
                </div>
                <div class="col-xs-5">
                    <input type="checkbox" checked data-toggle="toggle" data-on="Anonymous" data-off="Not Anonymous" data-onstyle="primary" data-offstyle="info" width="30px">
                </div>
                <div class="col-xs-1">
                    <submit class="btn btn-primary">Post</submit>
                </div>
            </div>
        </form>
    </div>
</div>
</section>
<div class="container">
  <ul class="nav nav-tabs nav-justified push100">
    <li class="active">
        <a data-toggle="tab" href="#home">My Posts</a></li>
    <li><a data-toggle="tab" href="#menu1">Basketball</a></li>
    <li><a data-toggle="tab" href="#menu2">US Politics</a></li>
    <li><a data-toggle="tab" href="#menu3">Weather</a></li>
  </ul>

  <div class="tab-content" style="padding-top:20px">
    <div id="feedPosts" class="tab-pane well fade in active feedLayout">
    </div>
    <div id="menu1" class="tab-pane fade">
    </div>
    <div id="menu2" class="tab-pane fade">
    </div>
    <div id="menu3" class="tab-pane fade">
    </div>
  </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom" style="background-color:black">
<div class="container" style="width:90%">
    <div class="col-sm-2 breaking">BREAKING NEWS</div>
    <div class="col-sm-8 changingNews">
        Tre Young has declared for the NBA Draft
    </div>
    <div class="col-sm-2" style="background-color:yellow">
        
    </div>
</div>


