<section>
<div class="well col-lg-6 col-lg-offset-3 col-xs-12">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="form-control required" style="min-width: 100%" style="max-width: 120%" rows="3" id="inputPost" placeholder="Got something to say?" maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div>
                <div class="btn-group col-lg-6 col-xs-12">
                    <div class="btn-group col-lg-6 col-xs-6 col-md-5 col-sm-5 row centered">
                    <select id="loopSelect" class="selectpicker btn btn-new" data-style="btn-new">
                      <optgroup class="dropMenu" label="Sports">
                        <option selected disabled hidden>Loops</option>
                        <option>Basketball</option>
                        <option>Boxing/MMA</option>
                        <option>GAA</option>
                        <option>Rugby</option>
                        <option>Soccer</option>
                        <option>Other Sports</option>
                      </optgroup>
                      <optgroup class="dropMenu" label="College">
                        <option>Arts</option>
                        <option>Business</option>
                        <option>Engineering</option>
                        <option>Medicine</option>
                        <option>Science</option>
                      </optgroup>
                      <optgroup class="dropMenu" label="TV + Movies">
                        <option>New Movies</option>
                        <option>Series to Binge</option>
                      </optgroup>
                        <optgroup class="dropMenu" label="Weather">
                        <option>Weather</option>
                      </optgroup>
                        <optgroup class="dropMenu" label="Current Affairs">
                        <option>Current Affairs</option>
                      </optgroup>
                        
                    </select>
                    </div>
                    <div class="btn-group col-lg-6 col-xs-6 col-md-5 col-sm-5 row centered">
                    <select class="selectpicker btn btn-new" data-style="btn-new" id="collegeSelect">
                      <optgroup class="dropMenu" label="Colleges">
                        <option selected disabled hidden>Local</option>
                        <option>DCU</option>
                        <option>NUIG</option>
                        <option>UCC</option>
                        <option>UCD</option>
                        <option>UL</option>
                      </optgroup>
                    </select>
                    </div>
                </div>
                <div class="col-lg-5 col-xs-6 centered">  
                <button type = "button"  class="btn btn-primary" id="anon">Anonymous</button>
                </div>
                <div class="col-lg-1 col-xs-6 ">
                    <button type="text" class="btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>
</section>
<div class="row push50"></div>
<div class="row holder">
  <ul class="row nav nav-tabs nav-justified centered">
    <li class="active col-xs-12"><a data-toggle="tab" href="#home" onclick="chooseMyLoop('myPosts');">My Posts</a></li>
    <li class="col-xs-12"><a data-toggle="tab" href="#menu1" onclick="chooseMyLoop('Basketball');">Basketball</a></li>
    <li class="col-xs-12"><a data-toggle="tab" href="#menu2" onclick="chooseMyLoop('Engineering');">Engineering</a></li>
    <li class="col-xs-12"><a data-toggle="tab" href="#menu3" onclick="chooseMyLoop('Weather')">Weather</a></li>
  </ul>

  <div class="tab-content" style="padding-top:20px">
    <div id="feedPosts" class="col-xs-8 col-xs-offset-2">
    </div>
  </div>
</div>
<div class="row" style="padding-bottom:100px"></div>
<div class="navbar navbar-default navbar-fixed-bottom size36" style="background-color:black">
<div class="col-lg-12 col-xs-12" id="breakingNews" style="color:white"></div>
</div>



