<div class="row centered">
    <h2>Select Loop</h2>
</div>

<div class="row push50" id="loopMenu">
<div class="col-xs-12 col-lg-4 centered">
    <a href="../chooseLoop/UCD"><img src="images/ucd.jpg" width="50%" height="100%"></a>
    <h4>UCD</h4>
    </div>
    <div class="col-xs-12 col-lg-4 centered">            
        <a href="../chooseLoop/NUIG"><img src="images/nuig.jpg" width="50%" height="100%"></a>
        <h4>NUIG</h4>
    </div>
    <div class="col-xs-12 col-lg-4 centered"> 
    <a href="../ChooseLoop/UL"><img src="images/ul.jpg" width="50%" height="100%"></img></a>
    <h4>UL</h4>
</div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-6 centered ">            
        <a href="../chooseLoop/DCU"><img src="images/dcu.jpg" width="50%" height="40%"></a>
        <h4>DCU</h4>
    </div>
    <div class="col-xs-12 col-lg-6 centered">            
        <a href="../chooseLoop/UCC"><img src="images/ucc.png" width="50%" height="100%"></a>
        <h4>UCC</h4>
    </div>
</div>

<div style="padding-top:50px"></div>