<div class="row centered">
    <h2>Select Loop</h2>
</div>

<div class="row push50" id="loopMenu">
<div class="col-xs-12 col-lg-4 centered ">            
  <a href="/loops/sports"><img src="images/sports.png" class="img-circle" width="50%" height="40%"></a>
</div>
<div class="col-xs-12 col-lg-4 centered">            
  <a href="/loops/politics"><img src="images/politics.png" class="img-circle" width="50%" height="100%"></a>
</div>
<div class="col-xs-12 col-lg-4 centered">            
  <a href="/loops/weather"><img src="images/weather.png" class="img-circle" width="50%" height="100%"></a>
</div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-6 centered">
    <a href="/loops/education"><img src="images/education.png" class="img-circle" width="50%" height="100%"></div></a>
    <div class="col-xs-12 col-lg-6 centered"> 
    <a href="/loops/tv"><img src="images/movie.png" class="img-circle" width="50%" height="100%"></img></div></a>
</div>