<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
 <link rel='stylesheet' href='/stylesheets/sock.css' >
<meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
        
<header>
      <div class ="push50 centered">
        <h3>Welcome to the <strong class="color:black">Loop</strong> Live Chatroom</h3>
        <h4>Here you can chat with fellow users about the latest hot-button topics</h4>
      </div>
</header>

    <section id="chatroom" class="chatArea">
    </section>

    <div style="padding-bottom:60px"></div>

    <section id="input_zone" class="inputZone"> 
      <input id="message"  type="text"/>
      <button id="send_message" type="button">Send</button>
    </section>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="javascripts/socket.js"></script>
  
