<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
 <link rel='stylesheet' href='/stylesheets/sock.css' >
<meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
        
<header class="fixed" style="background-color: black">
      <div class ="push50 centered">
        <h3 style="color: white">Welcome to the Loop Live Chatroom</h3>
        <h4 style="color: white">Here you can chat with fellow users about the latest hot-button topics</h4>
        <h6 style="color: white">Scroll down to see the newest posts</h6>
        <section id="feedback" class="messages"></section>
      </div>
</header>

    <section id="chatroom" class="chatArea col-xs-10">
    </section>

    <div style="padding-bottom:100px"></div>

    <section id="input_zone" class="inputZone">
      <input id="message"  class="btn-primary col-xs-9" placeholder="Say what you feel..."type="text"/>
      <div class="col-xs-1"></div>
      <button id="send_message" class="col-xs-2 pushButton btn btn-primary" type="button">Send</button>
    </section>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="javascripts/socket.js"></script>
  
