<body class = "pImg" onload="getProfile(''); getName()">
<div class="container">
    <div class="row">
    <div class="col-sm-4">
        
<form id="search_user">
    <label for="inputUsername" class="control-label"><div class = "fontE"><p>Search username:</p></div> </label>
<input type="text" class="form-control" id="user_name" placeholder="@Username">
<button class="btn btn-primary">Search</button>
    <div class = "fontE"> <p>Account Search: <b id ="out"> </b></p><img id="searchPP"  width = "160"/></div>
</form> 
</div>
        <div class="col-sm-4"></div>
        
    <div class="col-sm-4">
        <p><b style = "color:white"> Upload a profile picture</b></p>
<form id="form1" >
  <input type='file' id="imgInp" />
  <img id="ppic"  width = "160" />
    <br/>
    <br/>
  <button type = "button" id = "profUp" class="btn btn-primary">Upload</button>
  <button id = "button" class="btn btn-danger">Reset</button>
    
</form>
    </div>
        </div>
  </div>
   
    <div style = "padding-top: 5%" class="container">
    <div class="row">
    <div class="col-sm-4">
     <div class = "fontE" id = "output1"> 
          <img style=" padding-top: 20px" id="propic"  width = "160" />
          <p><b id="pname"> </b></p></div>
    
        </div>
    <div class="col-sm-4">
        
        <form id ="bioForm">
            <textarea  class = "sizebox" id = "inputBio"  placeholder="Biography...."></textarea>
            <button type = "submit" class="btn btn-primary">Submit</button>
            <button type = "reset" class="btn btn-danger">Clear</button>
        </form> 
        
         </div>
        </div>
  </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#ppic').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});
    </script>
    
    <script>
 var control = $("#imgInp");

$("#clear").on("click", function () {
    control.replaceWith( control = control.clone( true ) );
});
</script>


</body>

