<form class="search_form" id="search_user">
<label for="inputUsername" class="control-label">Username</label>
<input type="text" class="form-control" id="user_name" placeholder="@Useranme">
<button class="btn btn-default" id="search_user">Search</button>
    <p> </p>
    <p>Account search: <b id ="out"></b> </p>
</form> 


<table style="width:70%; margin-top: 5%; margin-left: 20%;">
  <tr>
    <th>    <img src="/images/face.jpg" width="100" height="100" border="5">    </th>
    <th>
        <p>
        Computer Science student, web developer, 
      </p></th> 
  </tr>
  <tr>
      <td><p>Username:<b id="pname"></bid></b></p>
      <h4>CS Student</h4></td>
      
    <td ><ul>
        <li><a href="#">Github</a></li>
        <li><a href="#">Facebooks</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Snapchat</a></li>
      </ul></td>
  </tr>
    
    <tr>
    <td>  <button> Message</button>  </td>
  </tr>
</table>