<body class = "pImg" onload="getProfile(''); getName()">
<form class="search_form" id="search_user">
    <label for="inputUsername" class="control-label"><div class = "fontE"><p>Search username:</p></div> </label>
<input type="text" class="form-control" id="user_name" placeholder="@Username">
<button class="btn btn-default">Search</button>
<div class = "fontE"><p>Account search: <b id ="out"></b> </p> </div>
</form> 

<table style="width:70%; margin-top: 5%; margin-left: 20%;">
  <tr>
    <th>   

<form id="form1" >
  <input type='file' id="imgInp" />	<br/>
  <img id="blah" src="#" alt="your image" />
  <button type = "reset" >reset</button>
</form>
   </th>
    <th>
        <form id ="bioForm">
            <textarea  id = "inputBio" rows = "4" cols = "50" placeholder="Biography...."></textarea>
            <button type = "submit" class="btn btn-default">Submit</button>
            <button type = "reset" class="btn btn-default">reset</button>
        </form> 
    </th>
  </tr>
  <tr >
      <td><div class = "fontE" id = "output1">                                                          <p style=" padding-top: 10px"><b id="pname"> </b></p></div>
      </td>
  </tr>
  
  <tr>
      <td>  <button> Message</button>  </td>
  </tr>
</table>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});
</script>


</body>

