<div class="col-md-8 col-md-offset-2">
    <h2>Register Google Account:</h2>
    <div class="form-group">
    <form class="form-horizontal" role="form" id="reg-form">
        
        <div class="col-sm-10 col-sm-offset-2" style="padding-bottom: 4%;">
            <div class="g-signin2 row col-sm-2" data-onsuccess="onRegIn" style="padding-left:10%; padding-top: 7px"></div>
        </div>
    </form>
</div>
</div>
