<div class="row centered">
	<h2>Select Sports Loop</h2>
</div>

<div class="row push50" id="loopMenu">
<div class="col-xs-12 col-lg-4 centered ">            
  <a href="../chooseLoop/Basketball"><img src="../images/basketball.png" class="img-circle" width="50%" height="40%"></a>
  <h4>Basketball</h4>
</div>
<div class="col-xs-12 col-lg-4 centered">            
  <a href="../chooseLoop/Boxing%2fMMA"><img src="../images/boxing.png" class="img-circle" width="50%" height="100%"></a>
  <h4>Boxing/MMA</h4>
</div>
<div class="col-xs-12 col-lg-4 centered">            
  <a href="../chooseLoop/GAA"><img src="../images/hurl.png" class="img-circle" width="50%" height="100%"></a>
  <h4>GAA</h4>
</div>
</div>

<div style="padding-top:50px"></div>

<div class="row">
<div class="col-xs-12 col-lg-4 centered ">            
  <a href="../chooseLoop/Rugby"><img src="../images/rugby.jpg" class="img-circle" width="50%" height="40%"></a>
  <h4>Rugby</h4>
</div>
<div class="col-xs-12 col-lg-4 centered">            
  <a href="../chooseLoop/Football"><img src="../images/football.png" class="img-circle" width="50%" height="100%"></a>
  <h4>Football</h4>
</div>
<div class="col-xs-12 col-lg-4 centered">            
  <a href="../chooseLoop/Other%20Sports"><img src="../images/otherSports.jpg" width="50%" height="100%">
  <h4>Other Sports</h4>
</div>
</div>

<div style="padding-top:50px"></div>
