<div class="row centered">
	<h2>Select TV + Movies Loop</h2>
</div>

<div class="row push50" id="loopMenu">
<div class="col-xs-12 col-lg-6 centered ">            
  <a href="../chooseLoop/New%20Movies"><img src="../images/newMovie.png" width="50%" height="40%"></a>
  <h4>New Movies</h4>
</div>
<div class="col-xs-12 col-lg-6 centered">            
  <a href="../chooseLoop/Series%20To%20Binge"><img src="../images/tv.png" width="50%" height="100%"></a>
  <h4>Series to Binge</h4>
</div>


